.currencyList {
	background:hsl(210, 100%, 20%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
}

.crypto-data{
	min-width: 80px;
	padding: 0;
	background: hsla(210, 60%, 40%);
	letter-spacing: 2px;
}

#currencyLogo{
	min-width: 40px;
	height: 40px;
}

#currencyPrice, #marketCap, #circulating, #supply{
	min-width: 150px;
}